{% load humanize %}
{% load static %}

<section class="related-tickers">
  <div class="block-title">
    <hr><h2>Stocks</h2>
  </div>
  <div id="quotes">
    <div class="ticker-row" id="quote-template">
      <div>
        <span class="image-wrap">
          <a href="#">
            <img src="" class="img-responsive company-image" alt="">
          </a>
        </span>
        <h3 class="company-name"></h3>
        <h4>
          <span class="ticker">
            <a title="Apple Stock Quote" href="#">
              <span class="market"></span>:<span class="symbol"></span>
            </a>
          </span>
        </h4>
        <aside class="price-quote-container">
          <h4 class="current-price">
          </h4>
          <h4 class="price-change-amount">
          </h4>
          <h4 class="price-change-percent">
            {{ quote.percentChange }}
          </h4>
        </aside>
      </div>
    </div>
  </div>
  <button id="stock-refresher" class="btn btn-primary">Get New Stocks</button>
</section>
<script type="text/javascript">var quotes_api = "{% static 'fixtures/quotes_api.json' %}"</script>
<script type="text/javascript" src="{% static 'js/quotes.js' %}"></script>
<script type="text/javascript">refreshQuotes()</script>